.App {
  display: grid;
  grid-template-rows: 35px auto ;
 
  padding: 20px;
}
.Input{
  padding: 5px;
}
input{
  border-radius: 20px;
}
.table, th, td{
  
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 4px;
  padding: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
th{
  background-color: aquamarine;
}
td{
  background-color: aqua;
}

.Table{
  display: flex;
  padding: 5px;
  
}
